@import url('https://fonts.cdnfonts.com/css/frazzle');

body{
    background-image: url("img/carpet.jpg");
    background-repeat: repeat;
    font-family: 'Frazzle', sans-serif;
    color: white;
}

#GameBoard{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 700px;
    margin:auto;
}
.card{
    margin: 10px;
    transition: 0.5s;
    z-index: 1;
}
.card img{
    width: 100%;
    height: 100%;
}
.card:hover{
   cursor:pointer;
}
.card img{
    margin: 0;
}
.card.hidden img{
    visibility: hidden;
}
.card.hidden{
    transform: rotateY(180deg);
    background-image: url("img/back.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.card.finded{
    border: solid 5px green;
    opacity: 0.5;
}

body{
}

.confetti{
    width: 10px;
    height: 10px;
    background-color: red;
    animation: falling 5s infinite;
    position:absolute;
    top:-20px;
    z-index: 2;
}

@keyframes falling{
    0%{
        top:-20px;
        transform: rotate(180deg);
    }
    20% {
        transform: translateX(100px) rotate(360deg);
    }
    40%{
        transform: translateX(40px) rotate(180deg);
    }
    50%{
        opacity: 1;
        transform: translateX(20px) rotate(360deg);
    }
    70%{
        opacity: 0.2;
        transform: translateX(30px) rotate(180deg); 
    }
    100%{
        opacity: 0;
        top:100%;
        transform: translateX(20px) rotate(360deg);
    }
}

.text-bienvenue{
    text-align: center;
}

#nbCardInput{
    height: 130px;
    width: 90px;
    text-align: center;
    font-family: 'Frazzle', sans-serif;
    font-size: 30px;
    border-radius: 5px;
    background-image:url("img/back.png");
    background-size: cover;
    color:black;
    font-weight: bold;
    border: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
}

button{
    margin: 10px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-image:url("img/chip.png");
    background-position: center;
    background-size: cover;
    color:black;
    border: none;
    box-shadow: 5px 5px 5px rgb(0, 0, 0);
    transition: 0.3s;
    cursor: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/heart.svg), auto;
    font-weight: bolder;
}

button:hover{
    box-shadow: 2px 2px 2px rgb(191, 173, 173);
}

.game-config{
    display: flex;
    justify-content: center;
}

.masOMenosButtons{
    display: flex;
    flex-direction: column;
}

.enteteJeu{
    display: flex;
    justify-content: space-evenly;
}